<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585602232117-8vij2181k17vhto62bcpsh8al7n0ns2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585602232117-8vij2181k17vhto62bcpsh8al7n0ns2r</string>
	<key>API_KEY</key>
	<string>AIzaSyDFj3ULrJaafp6-j2n-bTn9mYRejMga1RA</string>
	<key>GCM_SENDER_ID</key>
	<string>585602232117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jareksedy.ys-client-server-1347</string>
	<key>PROJECT_ID</key>
	<string>vkgb-test</string>
	<key>STORAGE_BUCKET</key>
	<string>vkgb-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585602232117:ios:536ac8e0221b60d7c8267c</string>
</dict>
</plist>